<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Main page (authenticated user)</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    </head>

    <body>

        <button onclick="toggleColour()">Toggle colour</button>

        <form method="POST">

            {% csrf_token %}

            <datalist id="list_of_towns">
                {% for town in towns %}
                    <option value="{{ town.name }}"></option>
                {% endfor %}
            </datalist>

            <label> Departure city: </label><br>
            <input type="text" name="departure" list="list_of_towns"><br>

            <label> Destination city: </label><br>
            <input type="text" name="destination" list="list_of_towns"><br>

            <label>{{ error }}</label>

            <label for="sort_by">Sort by:</label>
			<select id="sort_by" name="choiceUser">
				<option value="Time">Time</option>
				<option value="Cost">Cost</option>
				<option value="Default" selected>Default</option>
			</select>
			<br>
            <br>
            <input type="submit" value="Find route"><br>

        </form>

        <label> Your login: {{ login }} </label><br>
        <a href = {{ login_page }}>Login page</a><br>
        <a href = {{ personal_page }}>Personal page</a><br>
        <a href = {{ main_page }}>Main page</a>

        <script>
            function onlyOne(checkbox) {
                var checkboxes = document.getElementsByName('choiceUser')
                checkboxes.forEach((item) => {
                    if (item !== checkbox) item.checked = false
                })
            }
        </script>

        <h3>Found routes</h3>
        <table class="DB">
            <thead><tr><th>Departure time</th><th>Towns</th><th>Travel time</th><th>Cost</th><th>Id</th><th>Map</th></tr></thead>

                <tbody>

                {% for route in routes %}
                <tr>
                    <td class="time">{{ route.time_dep }}</td>
                    <td class="dbname">{{ route.towns }}</td>
                    <td class="time">{{ route.time }}</td>
                    <td class="money">{{ route.cost }}</td>
                    <td class="id">{{ route.id }}</td>
                    <td class="map"><a href = {{ route.map }}>Map</a></td>
                </tr>
                {% endfor %}

                </tbody>

        </table><br>

        <script>
		    function toggleColour(){
			    var element = document.body;
			    element.classList.toggle("light-mode");
		    }
		</script>

    </body>

</html>
