<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Login page</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    </head>

    <body>
         <button onclick="toggleColour()">Toggle colour</button>
         <p class="welcome">Welcome to the Login page, fellow traveler!<br>
                Please, select your desired service to login with.<br>
                Or go back to <a href = {{ main_page }}>Main page</a> if you wish to remain anonymous.
         </p>
         <script>
		    function toggleColour(){
			    var element = document.body;
			    element.classList.toggle("light-mode");
		    }
		</script>
    </body>

    <script async src="https://telegram.org/js/telegram-widget.js?7"
            data-telegram-login="{{ name_bot }}"
            data-size="medium" data-userpic="false"
            data-auth-url="{{ url_address }}"
            data-request-access="write">
    </script><br>

    <button class="btn btn-info mb-2">
       <a href="{% url 'social:begin' 'linkedin-oauth2' %}">Login with LinkedIn</a>
    </button><br>

    <button class="btn btn-info mb-2">
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    </button><br>

    <label>{{ error }}</label><br>

</html>
