<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Error page</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "m_style.css" %}">
    </head>

    <body>

        <label> You break logic of site. Please, go to the main page of the site. </label><br>
        <a href = {{ main_page }}>Main page</a>

    </body>

</html>