<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Map page</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    </head>

    <body>

        <label id = "infoLabel">  </label><br>
        <button onclick="toggleColour()">Toggle colour</button><br>
        <a href = {{ main_page }}>Main page</a>

        <p class="center-map">
            <canvas id="mapDraw" width="1080">
                <img id = "map" src="{% static "Map_of_Ukraine.jpg" %}" alt="Map of Ukraine" width="1200" height="799">
            </canvas>
        </p>

	    <script>

            numbers = {{list|safe}};

		    function toggleColour(){
			    var element = document.body;
			    element.classList.toggle("light-mode");
		    }

            window.onload = function() {
            var drawingCanvas = document.getElementById("mapDraw");
                if (drawingCanvas && drawingCanvas.getContext) {
                    var context = drawingCanvas.getContext("2d");
                    var img = document.getElementById("map");

                    //Multidimensional array of towns
                    //1 column - name of town
                    //2 column - x coordinate for signing name of town
                    //3 column - y coordinate for signing name of town
                    //4 column - x coordinate of the town center
                    //5 column - y coordinate of the town center
                    //6 column - radius of the town center (for Kyiv radius equals 0)
                    var arrOfTowns =   [
                        ["Kyiv",            480, 175, 505, 190, 0],
                        ["Cherkasy",        575, 260, 571, 266, 4],
                        ["Zhmerynka",       350, 340, 342, 335, 4],
                        ["Kharkiv",         837, 220, 835, 200, 6],
                        ["Kozyatyn",        332, 256, 414, 248, 4],
                        ["Lviv",            120, 217, 123, 226, 4],
                        ["Ivano-Frankivsk", 190, 305, 183, 300, 4],
                        ["Colomia",         210, 350, 203, 345, 4],
                        ["Rakhiv",          160, 380, 153, 375, 4],
                        ["Mukachevo",       70,  320, 63,  315, 4],
                        ["Odesa",           525, 535, 518, 523, 6],
                        ["Dnipro",          708, 360, 770, 351, 6],
                        ["Smela",           512, 300, 563, 285, 4],
                        ["Rivne",           265, 165, 258, 170, 4],
                        ["Zhytomyr",        380, 200, 410, 210, 4],
                        ["Kryvyi Rih",      678, 420, 670, 410, 4],
	    		        ["Chernivtsi",      243, 382, 245, 365, 4],
	    		        ["Vinnytsia",       398, 301, 393, 285, 4],
                        ["Sumy",            692, 134, 743, 137, 4],
                        ["Poltava",	        747, 267, 736, 260, 4]
                    ];

                    drawingCanvas.height = drawingCanvas.width * (img.height / img.width);

                    context.drawImage(img, 0, 0, img.width * 0.9, img.height * 0.9);
                    context.font        = "bold 14px Verdana, sans-serif";
                    context.fillStyle   = "black";

                    //Sign towns on the map
                    for (let i = 0; i < arrOfTowns.length; i++) {
                        context.fillText(arrOfTowns[i][0], arrOfTowns[i][1], arrOfTowns[i][2]);
                    }
                    context.beginPath();

                    // Create route using information from server
                    for (let i = 0; i < numbers.length - 1; i++) {
                        context.moveTo(arrOfTowns[numbers[i]][3], arrOfTowns[numbers[i]][4]);
                        context.lineTo(arrOfTowns[numbers[i + 1]][3], arrOfTowns[numbers[i + 1]][4]);
                    }
                    context.closePath();
                    context.strokeStyle = "#34ED0F";
                    context.lineWidth = 3;
                    context.stroke();

                    context.strokeStyle = "black";
                    context.fillStyle = "white";
                    context.lineWidth = 2;

                    //Draw the center of Kyiv
                    context.beginPath();
                    context.rect(503, 182, 15, 15);
                    context.closePath();
                    context.fill();
                    context.stroke();

                    var strtAngl    = 0,
                    endAngl     = Math.PI * 2,
                    clockwise   = false;

                    //Draw the centers of towns
                    for (let i = 1; i < arrOfTowns.length; i++) {
                        context.beginPath();
                        context.arc(arrOfTowns[i][3], arrOfTowns[i][4], arrOfTowns[i][5], strtAngl, endAngl, clockwise);
                        context.closePath();
                        context.fill();
                        context.stroke();
                    }

                }
            }

	    </script>

    </body>

</html>