<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Personal page</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
            <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    </head>

    <body>

        <button onclick="toggleColour()">Toggle colour</button></br>
		<p>Welcome to your personal page, {{login}}!<br>
		Here you can view your recent activity and manage preferences.<br>
		</p>
		<label>Go back to  <a href = {{ auth_page }}>Main page</a></label></br>
		<a href = {{ main_page }}>Log Off</a><br>
		
		<label> Number of Log In attempts: {{number_attempt}} </label><br>
		<label> Number of time queries: {{number_time_query}} </label><br>
		<label> Number of cost queries: {{number_money_query}} </label><br>
		<label> {{error}} </label><br>


        <form method="POST">

            {% csrf_token %}

            <input type="checkbox" name="nameChange">Change your login<br>
			<label> Your current login: {{login}} </label><br>
            <label> New login: </label></br>
            <input type="text" name="newName"><br>

            <input type="checkbox" name="typeQueryChange">Set a new type of default query<br>
            <label> Choose a new default type of query: </label>
            <select id="sort_by" name="choiceUser">
                                <option value="Time">Time</option>
                                <option value="Cost">Cost</option>
                                <option value="Default" selected>Default</option>
                        </select><br>

            <input type="checkbox" name="numberRoutesChange">Change the number of routes displayed:<br>
			<label> Currently displayed: {{number_routes}} </label><br>
            <label> New number of routes: </label>
            <input type="text" name="newNumberRoutes" class="number"><br>

            <input type="submit" value="Change values"><br>

        </form>
		<script>
                    function toggleColour(){
                            var element = document.body;
                            element.classList.toggle("light-mode");
                    }
                </script>

    </body>

</html>
