table,th,td {
        border: 1.5px solid;
        padding: 2px;
        border-top-color: #fc4445;
        border-right-color:  #fc4445;
        border-left-color: #501b1d;
        border-bottom-color: #501b1d;
        text-align: center;
        font-size: 2rem;
}
table{
        border-spacing: 4px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        width:90%;
        margin: 0 auto;
}
th,td {
        border-radius: 8px;
}
th{
        background-color: #170909;
        color: #beb39f;
}
td{
        color: #f2f2f2;
}
.time{
        width: 10%;
}
.dbname{
        width: 35%;
}
.money{
        width: 15%;
}
.map{
        width: 10%;
}
.id{
        width: 20%
}
input{
        border: 1.5px solid;
        background-color: #f2f2f2;
        border-color:  #fc4445;
        color:  #1a1a1d;
        border-radius: 5px;
        font-size: 2rem;
}
input[type=checkbox]{
	    /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 10px;
        height:0.9em;
        margin-right:0.3em
}
input[type=text]{
	    text-align: center;
	    width: 8em;
}
input[list=list_of_towns]{
	    text-align: center;
	    width: 8em;
}
input.number{
	    width: 3em;
}
input[type=submit] {
        color: #beb39f;
        border-color: #501b1d;
        border-radius: 30px;
        background-color: black;
		width: 8em;  height: 2em;
		font-weight: bold;
}
body{
		background-color: #1a1a1d;
		color:  #beb39f;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Segoe UI Symbol";
		font-size: 2.5rem;
		text-align: center;
}


button{
		border: 1.5px solid;
		border-radius: 20px;
		color: #beb39f;
		border-color: #501b1d;
		background-color: black;
		width: auto;  height: 2em;
		font-size: 1.5rem;
		font-weight: bold;
		margin-right: -79.5%
}
select{
		border: 1px solid;
		border-radius: 8px;
		width:16%; height:auto;
		color: #f2f2f2;
		border-color: #fc4445;
		background-color: #1a1a1d;
		border-style:dashed;
		font-size: 2.5rem;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Segoe UI Symbol";
}
.light-mode{
		background-color: white;
		color: #540505;
}
.light-mode button{
		color: #540505;
		background-color: #f2f2f2;
}
.light-mode select{
		color: #1a1a1d;
		background-color: white;
}
.light-mode input[type=submit]{
		color: #540505;
		background-color: #f2f2f2;
}
.light-mode th{
        background-color: #ebe3e3;
        color:#540505;
}
.light-mode td{
        color: #1a1a1d;
}

a:link {
		color: #3dbbd2;
		background-color: transparent;
		text-decoration: none;
}
a:visited {
		color: #207989;
		background-color: transparent;
		text-decoration: none;
}
a:hover {
		color: #3dbbd2bf;
		background-color: transparent;
		text-decoration: underline;
}
.btn{
		color: #f2f2f2;
		border-color: #501b1d;
		background-color: black;
		border-radius: 30px;
		width: 14em;  height: 2.5em;
		font-weight: bold;
		margin: auto;
		font-size: 1rem;
}
.welcome{
		font-size:1.7rem;
}
